.section-wrapper {
  margin: 32px 16px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.section-header h2 {
  font-size: 24px;
  font-weight: 600;
}

.section-header button {
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #34c94b; /* Green like in Figma */
  cursor: pointer;
  font-weight: 500;
}


.section-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
