.wrapper {
  display: flex;
  align-items: center;
  height: 48px;
  width: fit-content;
  border: 1px solid var(--color-black);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.search {
  padding: 10px 16px;
  height: 100%;
  border: none;
  font-size: 14px;
  width: 460px;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

.searchButton {
  padding: 10px 16px;
  height: 100%;
  background-color: var(--color-black);
  color: var(--color-green); /* assuming you have a green variable */
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #1c1c1c;
}
